# Files to ignore
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.swo
.DS_Store
.idea
npm-debug.log
template/**/*.js

# Folders to ignore
pids
logs
results
bower_components
bower_components/**/*
node_modules
